{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block block-text outer">
  <div class="inner">
    <div class="grid grid-middle grid-center{% if section.image and section.image_position == 'right' %} grid-swap{% endif %}">
      {% assign image_is_not_empty = section.image | is_not_empty %}
      <div class="grid-item block-body">
        {% assign title_is_not_empty = section.title | is_not_empty %}
        {% if title_is_not_empty %}
        <div class="block-header">
          <h2 class="block-title">{{ section.title }}</h2>
        </div>
        {% endif %}
        {% assign content_is_not_empty = section.content | is_not_empty %}

        {% if content_is_not_empty %}
        <div class="block-content">
          {{ section.content | markdownify }}
        </div>
        <div class="block-buttons">

          {% include cta_buttons.html actions=section.actions %}
        </div>
        <div style="width: 1000px; margin-left: -200px">
          <figure style="overflow:visible;" id="qtspinner">
            <img src="images/iotdashboard-wasm.png" style="width: 1000px; height: 600px">
            </img>
            <div id="qtstatus"></div>
            <noscript>JavaScript is disabled. Please enable JavaScript to use this application.</noscript>
          </figure>
          <div id="qt-wasm-screen">
          </div>
        </div>
        <script type="text/javascript">
            async function init()
            {
                const spinner = document.querySelector('#qtspinner');
                const screen = document.querySelector('#qt-wasm-screen');
                const status = document.querySelector('#qtstatus');

                const showUi = (ui) => {
                    [spinner, screen].forEach(element => element.style.display = 'none');
                    if (screen === ui)
                    {
                        screen.style.position = 'default';
                        screen.style.width = '1000px';
                        screen.style.height = '600px';
                    }
                    ui.style.display = 'block';
                }

                try {
                    showUi(spinner);
                    status.innerHTML = 'Loading...';

                    const instance = await qtLoad({
                        qt: {
                            onLoaded: () => showUi(screen),
                            onExit: exitData =>
                            {
                                status.innerHTML = 'Application exit';
                                status.innerHTML +=
                                    exitData.code !== undefined ? ` with code ` : '';
                                status.innerHTML +=
                                    exitData.text !== undefined ? ` ()` : '';
                                showUi(spinner);
                            },
                            entryFunction: window.createQtAppInstance,
                            containerElements: [screen],

                        }
                    });
                } catch (e) {
                    console.error(e);
                    console.error(e.stack);
                }
            }
        </script>
        <script src="iotdashboard.js"></script>
        <script type="text/javascript" src="qtloader.js"></script>
        {% endif %}

      </div>
    </div>
  </div>
</section><!-- .block -->
